In [1]:
print("hello word")

hello word

In [1]:
import sqlite3

conexao = sqlite3.connect('dados.db')

cursor = conexao.cursor()

In [26]:
cursor.execute('''


                CREATE TABLE IF NOT EXISTS  produtos (

                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    marca VARCHAR(50) NOT NULL,
                    produto VARCHAR(50) NOT NULL,
                    quantidade INTEGER,
                    valor DECIMAL NOT NULL
                );




                ''')
conexao.commit()
conexao.close

In [2]:
cursor.execute("INSERT INTO produtos ('marca','produto','quantidade','valor') VALUES ('Moura','Bateria 60ah', 10,500);")
cursor.execute("INSERT INTO produtos ('marca','produto','quantidade','valor') VALUES ('Ac Delco','Bateria 60ah', 15,450);")

conexao.commit()
conexao.close

In [3]:
conexao = sqlite3.connect('dados.db')
cursor = conexao.cursor()

consulta = cursor.execute("select *from produtos;")

imprimir = consulta.fetchall()

for i in imprimir:
    print(i)

(1, 'Moura', 'Bateria 60ah', 10, 500)
(2, 'Ac Delco', 'Bateria 60ah', 15, 450)